body,p,span,div{
font-family:Calibri,sans-serif !important;
}

.prototype_block{
background:#F1F1F1;
border-radius:20px;
width:800px;
padding:20px;
margin:auto;
margin-bottom:40px
}

.images_prototype_papier{
margin-left:150px;
width:500px;
}

.screen_prototype_papier{
margin-left:50px;
width:700px;
}

.figcaption_images{
margin-bottom:20px;
margin-left:250px;
}

.figcaption_screen{
margin-bottom:20px;
margin-left:320px;
}
